//color
$color-orange : #ff8b00;
$color-black : #000;
$color-white : #fff;

// font
$font-GyeonggiTitleM : "GyeonggiTitleM";
$font-nanumSquare : 'NanumSquare', sans-serif;
$font-bold : 700;

// font-size
$font-sizeM : 1.25rem;
$font-sizeB : 4.5rem;


// padding-size
$default-padding : 20px;

// border-radius: 50%;
$radiusHarf:50%;