#main {
  position: relative;
}

#main .visuTxt {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
}

#main .visuTxt p {
  margin-top: 42px;
  font-size: 1.5rem;
  line-height: 1.4em;
}

#main h2 {
  font-size: 4.5rem;
  font-family: "GyeonggiTitleM";
}

#main h2 span {
  color: #ff8b00;
}

#main h2 span em {
  position: relative;
}

#main h2 span em:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -36px;
  background: #fff;
}
