button {
  outline: none;
}

.inner1786 {
  width: 100%;
  max-width: 1760px;
  margin: 0 auto;
  position: relative;
}

header {
  font-family: "Russo One", sans-serif;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}

header > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #logo a {
  color: #fff;
  font-size: 1.875rem;
  text-transform: uppercase;
  -webkit-transform: skewX(-13deg);
          transform: skewX(-13deg);
  display: block;
}

header #menuBtn {
  margin-left: 112px;
}

header #menuBtn button {
  background: none;
  border: none;
}

header #menuBtn button span {
  margin-bottom: 8px;
  display: block;
  width: 37px;
  height: 6px;
  display: block;
  background: #fff;
}

header #menuBtn button span:last-child {
  margin: 0;
}

header .util {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .util .schWrap {
  height: 45px;
  width: 50px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .util .schWrap input, header .util .schWrap button {
  border: none;
}

header .util .schWrap input[type="text"] {
  height: 45px;
  width: calc(100% - 80px);
  border: none;
  padding: 0 15px;
  font-size: 1rem;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .util .schWrap input[type="reset"] {
  width: 20px;
  height: 20px;
  background: url("/img/common/sch_close_btn.png") no-repeat center;
  right: 56px;
}

header .util .schWrap button[type="submit"] {
  background: none;
  right: 16px;
}

header .util .schWrap button[type="submit"] i {
  color: #fff;
  font-size: 26px;
}

header .util .schWrap input[type="reset"],
header .util .schWrap button[type="submit"] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

header .util .schWrap.on {
  background: #fff;
  width: 412px;
}

header .util .schWrap.on input[type="text"] {
  opacity: 1;
}

header .util .schWrap.on button[type="submit"] i {
  color: #252525;
}

header .util .lang {
  position: relative;
  margin-left: 24px;
  width: 46px;
}

header .util .lang button, header .util .lang a {
  font-family: "Russo One", sans-serif;
}

header .util .lang > button {
  color: #fff;
  background: url("/img/common/lang_btn.png") no-repeat right center;
  border: none;
  font-size: 1.125rem;
  padding: 0;
  width: 100%;
  text-align: left;
}

header .util .lang ul {
  position: absolute;
  padding: 3px 12px;
  width: 100%;
  top: 100%;
  margin-top: 4px;
  background: #fff;
  display: none;
}

header .util .lang ul a {
  color: #0f0f10;
  display: block;
  font-size: 14px;
  text-align: center;
  padding: 3px 0;
  position: relative;
}

header .util .lang ul a:after {
  content: "";
  width: 0;
  height: 1px;
  background: #0f238c;
  display: block;
  position: absolute;
  left: 0;
  bottom: 3px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .util .lang ul a:hover:after {
  opacity: 1;
  width: 100%;
}
