@import "inc";
button {
	outline: none;
}

.inner1786 {
	@include inner(1760px);
}


header {
	font-family: $font-russo;
	position: fixed;
	z-index:9999;
	left:0;
	top:0;
	width: 100%;
	height:100%;
	// background: #333;
	padding:30px 0;
	> section {
		display:flex;
		justify-content: space-between;
		align-items: center;
	}
	.left {
		display:flex;
		align-items: center;
	}
	#logo {
		a {
			color:#fff;
			font-size: $font-size30;
			text-transform: uppercase;
			transform: skewX(-13deg);
			display:block;
		}
	}
	#menuBtn {
		margin-left:112px;
		button {
			background: none;
			border:none;
			span {
				margin-bottom: 8px;
				display:block;
				width: 37px;
				height:6px;
				display:block;
				background: #fff;
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	.util {
		display: flex;
		align-items: center;
		.schWrap {
			height:45px;
			// width: 412px;
			width: 50px;
			overflow: hidden;
			position: relative;
			transition: all 0.5s;
			input,button {
				border:none;
			}
			input[type="text"] {
				height:45px;
				width:calc(100% - 80px);
				border:none;
				padding:0 15px;
				font-size: 1rem;
				opacity:0;
				transition: all 0.5s;
			}
			input[type="reset"] {
				width: 20px;
				height:20px;
				background:url("/img/common/sch_close_btn.png") no-repeat center;
				right:56px;
			}			
			button[type="submit"] { 
				background: none;
				right:16px;
				i {
					// color:#252525;
					color:#fff;
					font-size:26px;
				}
			}

			input[type="reset"],
			button[type="submit"] { 
				position:absolute;
				top:50%;
				transform: translateY(-50%);
				cursor: pointer;
			}
			&.on {
				background: #fff;
				width: 412px;
				input[type="text"] {
					opacity:1;
				}				
				button[type="submit"] { 
					i {
						color:#252525;
					}
				}				
			}
		}
		.lang {
			position: relative;
			margin-left: 24px;
			width: 46px;
			button, a{
				font-family: $font-russo;
			}
			> button {
				color:#fff;
				background: url("/img/common/lang_btn.png") no-repeat right center;
				border:none;
				font-size: $font-size18;
				padding:0;
				width: 100%;
				text-align:left;
			}
			ul {
				position: absolute;
				padding:3px 12px;
				width: 100%;
				top:100%;
				margin-top:4px;
				background: #fff;
				display:none;
				a {
					color:#0f0f10;
					display:block;
					font-size: $font-size14;
					text-align: center;
					padding:3px 0;
					position: relative;
					&:after {
						content:"";
						width: 0;
						height:1px;
						background: $color-main;
						display:block;
						position: absolute;
						left:0;
						bottom:3px;
						opacity: 0;
						transition: all 0.5s;
					}
					&:hover {
						&:after {
							opacity: 1;
							width:100%;
						}
					}
				}
			}
		}
	}
}