//color
$color-main : #0f238c !global;
$color-black : #000 !global;
$color-white : #fff !global;

// font
$font-GyeonggiTitleM : "GyeonggiTitleM" !global;
$font-nanumSquare : 'NanumSquare', sans-serif !global;
$font-mont : 'Montserrat', sans-serif !global;
$font-russo :'Russo One', sans-serif !global;
$font-bold : 700 !global;

// font-size 16 to rem
$font-size12 : 12px !global;
$font-size14 : 14px !global;
$font-size16 : 1rem !global;
$font-size18 : 1.125rem !global;
$font-size20 : 1.25rem !global;
$font-size22 : 1.375rem !global;
$font-size30 : 1.875rem !global;


// padding-size
$inner-padding :0 20px !global;

// border-radius: 50%;
$radiusHarf:50% !global;


// mixin
@mixin inner($width){
  width:100%;
  max-width:$width;
  margin:0 auto;
  position:relative;
}

@mixin innerPadding{
  padding:0 20px;
}

// Breakpoints
$breakpoint-mobile: 420px !global;;
$breakpoint-tablet: 767px !global;;
$breakpoint-desktop: 1200px !global;;