@import "inc";


#mainVisual {
  .item {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transform-style: preserve-3d;
    perspective: 500px;
    &.active-item,
    &.on {
      .txtBox {
        h2,p {
          opacity:1;
          transform: translateX(0);
        }        
      }
      .bg {
        .block {
          transform: translateZ(0);
          opacity:1;
          // background-attachment: fixed;
          // background-size: cover;     
          height:100%;       
        }        
      }
    }    
    .bg {
      display:flex;
      position:absolute;
      flex-wrap: wrap;
      overflow: hidden;
      left:0;
      z-index:-1;
      top:0;
      width:100%;
      height:100%;
      .block {
        width:calc(100% / 8);
        position:relative;
        background-attachment: fixed !important;
        background-position: center !important;
        display:block;        
        height:0;
        transform: translateZ(100px);
        opacity: 0;        
        transition:all 1s;
      }
    }
  }
  .item1 {
    .bg {
      .block {
        background: url(/img/main/mainVisual01.jpg);
      }
    }
  }
  .item2 {
    .bg {
      .block {
        background: url(/img/main/mainVisual02.jpg);
      }
    }
  }
  
  .slick-dots {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    width:100%;
    align-items: center;
    justify-content: flex-start;
    max-width:1300px;
    
    li {
      margin-right:10px;
      &:last-child {
        margin: 0;
      }
      &.slick-active {
        button {
          width:30px;
          border-radius: 15px;
          background: #a6b1bb;
        }
      }
    }

  }
}